@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,300&family=IBM+Plex+Serif:ital,wght@0,300;1,300&display=swap");

:root {
    --dark-blue: hsl(210 25% 20%);
    --medium-blue: hsl(210 20% 60%);
    --light-blue: hsl(210 45% 80%);
    --whitish: hsl(210 60% 90%);
    --light-yellow: hsl(30 45% 80%);
    --line-height: 1.7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--dark-blue);
    color: var(--light-blue);
    font-size: 100%;
}

body {
    font-family: "IBM Plex Serif", Courier;
    font-size: 0.9375rem;
    margin: 4rem 0;
}

header h1 {
    color: var(--light-yellow);
    font-family: "IBM Plex Sans";
    font-size: 1.375rem;
    line-height: 1;
    margin-bottom: 2rem;
}

div:has(h1):has(#progress) {
    display: flex;
    justify-content: space-between;
}

#progress {
    font-family: "IBM Plex Sans";
}

header,
main {
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 1rem;
}

strong {
    color: var(--light-yellow);
}

.personal-link-container {
    padding: 1rem;
    margin-bottom: 1rem;
    background: rgba(0, 0, 0, 0.1);
    color: var(--whitish);
}

#save_list_form button {
    background: none;
    border: none;
    color: var(--light-yellow);
    cursor: pointer;
    font-family: "IBM Plex Sans";
    font-size: inherit;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#copy_url {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.875rem;
    margin-left: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#copy_url.copied {
    text-decoration: none;
}

#url {
    color: var(--light-yellow);
}

div:has(#url) {
    font-family: "IBM Plex Sans";
}

main {
    line-height: var(--line-height);
}

ul {
    list-style-type: none;
}

li.film {
    display: flex;
}

p {
    color: var(--whitish);
    line-height: var(--line-height);
}

p:not(p:last-of-type) {
    margin-bottom: 1rem;
}

p:last-of-type {
    margin-bottom: 2rem;
}

li > div {
    cursor: pointer;
    display: inline-block;
}

li > div[data-watched="true"] {
    text-decoration: line-through;
    text-decoration-color: var(--medium-blue);
    text-decoration-thickness: 1px;
    opacity: 0.5;
}

li > div[data-watched="true"] > span.info {
    color: var(--medium-blue);
}

span.ranking {
    color: var(--whitish);
    margin-right: 1ch;
}

span.director {
    color: var(--medium-blue);
}

a.fancy-link {
    color: var(--light-blue);
    line-height: var(--line-height);
}
