@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap");

:root {
    --dark-blue: hsl(210 25% 20%);
    --light-blue: hsl(210 45% 80%);
    --medium-blue: hsl(210 20% 50%);
    --light-yellow: hsl(30 45% 80%);
    --whitish: hsl(210 60% 92%);
    --line-height: 1.6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: var(--dark-blue);
    color: var(--light-blue);
    font-size: 100%;
}

body {
    font-family: "IBM Plex Mono", Courier;
    font-size: 0.9rem;
    margin: 4rem 0;
}

header h1 {
    color: var(--light-yellow);
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 2rem;
}

div:has(h1):has(#progress) {
    display: flex;
    justify-content: space-between;
}

header,
main {
    width: 100%;
    max-width: 720px;
    margin: auto;
    padding: 1rem;
}

main {
    line-height: var(--line-height);
}

ul {
    list-style-type: none;
}

p {
    color: var(--whitish);
    line-height: var(--line-height);
}

p:not(p:last-child) {
    margin-bottom: 1rem;
}

li > div {
    cursor: pointer;
    display: inline-block;
}

li[data-watched="true"] > div {
    text-decoration: line-through;
    text-decoration-color: var(--medium-blue);
    opacity: 0.5;
}

li[data-watched="true"] > div > span.info {
    color: var(--medium-blue);
}

span.ranking {
    color: var(--whitish);
}

span.director {
    color: var(--medium-blue);
}

#progress {
    cursor: pointer;
}
