<p>Below is the 10th anniversary edition of the American Film Institute's list of the 100 greatest American films of the last 100 years (as of 2007). The challenge here is simple; at your desired pace, watch all of the films in the list.</p>
<p>To mark a film as "watched", click on the film title. Click the title again to toggle it back to "unwatched". Your progress is tracked at the top right corner of this page. Click on the progress value to toggle between a fractional and percentage-based measurement.</p>

{% if list_id %}
    <p>This list can be accessed from anywhere at the URL below. It's highly recommended that you save this URL in a bookmark or secure note. If you lose it, it will be gone forever.</p>
    <div>
        <span class="url">{{ request.url }}</span>
        <button id="copy_url">Copy URL</button>
    </div>
{% endif %}

{% if not list_id %}
    <p>Your watched films are saved in this browser's local storage automatically. If you would like your updates to persist across devices, you can move your list to a private URL by clicking the link below.</p>
{% endif %}
